/* .homepage-banner-container{
    border: 2px solid darkblue;
    height: 30vh;
    width: 95%;
} */

.carousel {
    width:90vw;
    height:auto;
    margin: auto;
  }
.sslidebar{
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}  


/*
By TK.

[ต้นฉบับ]

.carousel {
    width:100vw;
    height:50vh;
}

Banner.js ลบ style width & height ออก
*/