.component-btn{
    /* margin-top: 30px; */
    width: 200px;
    /*height:auto;*/
    padding: 10px;
    background-color: rgb(221, 101, 101);
    color: white;
    margin: 15px;
    text-align: center;
    border-radius: 30px;
}

.component-btn:hover{
    background-color: rgb(151, 69, 69);
    cursor: pointer;
}
.component-width-btn{
    width: fit-content;
}

.component-btn-2{
    /* margin-top: 30px; */
    /*top:2%;*/
    width: 200px;
    /*height: 50px;*/
    padding: 10px;
    background-color: rgb(221, 173, 101);
    color: white;
    margin: 15px;
    text-align: center;
    border-radius: 30px;
}

.component-btn-2:hover{
    background-color: rgb(184, 124, 34);
    cursor: pointer;
}