
.login-input-box {
    top:50%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(169, 169, 169);
    padding: 5px; 
    padding-left: 15px;
    width: 10vw;
    height: 2.5vh;    
    background-color: white;
    font-size: 1.5vh;
    color: #3e2aad;
    
}
.login-input-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(127, 127, 127);
    opacity: 1; /* Firefox */
  }
  
  .login-input-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(127, 127, 127);
  }
  
  .login-input-box::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(127, 127, 127);

  }
.login-main-input-padding{
    margin-top: 15vh;
}
.login-input-padding{
    margin-top: 2vh;
    padding-bottom: 1vh;
}

.login-btn-padding{
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.login-btn:hover{
    background-color: rgb(105, 246, 244);
    color: blue;
    cursor: pointer;
}   


.center-container{
  margin-top: 20vh;
  /* Setup */
  position: relative;

}

.center-child{
  
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid rgb(255, 247, 0); */

}

.loginpopup-content{
    z-index: 1000;
    /* background-color: #454255; */
    background-color: white;
    /* background-color: #15008a; */
    height: 30vh;
    width: 25vw;
    justify-content: center;    
    border-radius: 15px;
    /* position: c; */

}

.loginpopup-header-pad{
  
    position: absolute;
    background-color: #454255;
    height: 6vh;
    width: 25vw;
    text-align: center;
    color: white;
    margin-bottom: 5vh;
    border-radius: 15px 15px 0px 0px;
}


.center-row{
    text-align: center;
}

.login-btn{
    background-color: rgb(50, 50, 50);
    height: 3vh;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 50px;

}

.login-btn p {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
  }

  .login-exit-btn{
    color: white;
    position: absolute;
    margin-left: 22vw;
    font-size: 3vh;
    width: 20%;
    margin-top: 2%;
  }
  .login-exit-btn:hover{
    cursor: pointer;
    color: aqua;
  }
  .login-header-text{
    width: 80%;
    padding-left: 2.5vw;
    font-size: 3vh;
    margin-top: 5%;
  }
