.Navbar {
    height: 6vh;
    width: 100vw;
    background-color: #454255;
    border-radius: 75px 75px;
}

.test{
    border: 2px solid darkblue;
    height: 50px;
    width: 50px;
}

.logo{
    padding-top: 1vh;
    height: 5vh;
}

.cartlogo-box{
    position: absolute;
    width: fit-content;
    margin-left: 80vw;
    padding-top: 1vh;
}

.cartIcon{
    color: #00DBE9;
    width: 4vh;
    height: 4vh;
}

.home-navbar{
    position: absolute;
    top: 1vh;
    left:3vh;
    flex-direction: row;
    display: flex;
}
.category-toggle{
    position: absolute;
    top: 1vh;
    left:15vh;
    flex-direction: row;
    display: flex;
}
.nav-text-white{
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.nav-text-blue{
    color: #00C6B6;
    font-weight: bold;
    font-size: 24px;
}

.toggle-icon{
    margin-left: 10px;
    color: #2d8977;
    margin-top: 2px;
    width: 3vh;
    height: 3vh;
}

.hor-center{
    display: flex;
    justify-content: center;
}

.header{
    color: #00C6B6;
    font-weight: bold;
    font-size: 32px;
    padding-top: 1.5vh;
}

.navbar-login-button-pink{
    border-radius: 42px;
    background-color: #FD7676;
    height: 4vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar-login-button-blue{
    border-radius: 42px;
    background-color: #00DBE9;
    height: 4vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.login-btn-pad{
    top: 1vh;
    position: absolute;
    margin-left: 90vw;
}

.btn-center {
    position: absolute;
    font-size: 2.2vh;
    color: white;
    font-weight: 600;
    top: -10%;
    transform: translate(0, -50%);
}

.navbar-user-name-pad{
    top: 2vh;
    position: absolute;
    margin-left: 60vw;
}

.navbar-name-header{
    font-size: 2vh;
    color: white;
    font-weight: bold;
}