.Navbar {
    height: 6vh;
    width: 100vw;
    background-color: #454255;
    border-radius: 75px 75px;
}

.test{
    border: 2px solid darkblue;
    height: 50px;
    width: 50px;
}

.navbar-logo{
    padding-top: 1vh;
    height: 5vh;
}

.navbar-logo:hover{
    cursor: pointer;
    opacity: 0.7;
}

.cartlogo-box{
    position: absolute;
    width: fit-content;
    margin-left: 80vw;
    padding-top: 1vh;
}

.cart-icon{
    color: #00DBE9;
    width: 4vh;
    height: 4vh;
}

.cart-icon:hover{
    color: #3aa6f9;
    cursor: pointer;
}

.home-navbar{
    position: absolute;
    top: 1vh;
    left:3vh;
    flex-direction: row;
    display: flex;
}
.nav-text-white:hover{
    cursor: pointer;
    color: #00ffea;
}
.category-toggle{
    position: absolute;
    top: 1vh;
    left:15vh;
    flex-direction: row;
    display: flex;
}

.category-toggle:hover{
    color: #008892;
    cursor: pointer;
}

.toggle-icon:hover{
    color: #008892;
    cursor: pointer;
}

.toggle-icon-selected{
    color: #008892;
    margin-left: 10px;
    margin-top: 2px;
    width: 3vh;
    height: 3vh;
}

.nav-text-white{
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.nav-text-blue{
    color: #00C6B6;
    font-weight: bold;
    font-size: 24px;
}

.toggle-icon{
    margin-left: 10px;
    color: #ffffff;
    margin-top: 2px;
    width: 3vh;
    height: 3vh;
}

.hor-center{
    display: flex;
    justify-content: center;
}

.navbar-header{
    color: #00C6B6;
    font-weight: bold;
    font-size: 32px;
    padding-top: 1.5vh;
}
.navbar-header:hover{
    cursor: pointer;
    opacity: 0.7;
}

.navbar-login-button-pink{
    border-radius: 42px;
    background-color: #FD7676;
    height: 4vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar-login-button-pink:hover{
    background-color: #e43838;
    cursor: pointer;
}

.navbar-login-button-blue{
    border-radius: 42px;
    background-color: #00DBE9;
    height: 4vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.navbar-login-button-blue:hover{
    background-color: #008892;
    cursor: pointer;
}    
.login-btn-pad{
    top: 1vh;
    position: absolute;
    margin-left: 90vw;
}

.btn-center {
    position: absolute;
    font-size: 2.2vh;
    color: white;
    font-weight: 600;
    top: -10%;
    transform: translate(0, -50%);
}

.navbar-user-name-pad{
    top: 2vh;
    position: absolute;
    margin-left: 60vw;
}

.navbar-name-header{
    font-size: 2vh;
    color: white;
    font-weight: bold;
}


.navbar-header-pad{ 
    position: absolute;
    top: 1.5vh;
    left:8vh;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.navbar-header-text{
    font-size: 2.5vh;
    font-weight: 400;
    color: #00C6B6;
}

.navbar-back-icon-container{
    position: absolute;
    left: 0.5vw;
    margin-top: 0vh;
}

.navbar-back-icon{
    color: #d7d7d7;
    margin-top: 0.5vh;
    width: 5vh;
    height: 5vh;
}

.navbar-back-icon:hover{
    color: rgb(144, 255, 246);
    cursor: pointer;
    margin-top: 0.25vh;
    width: 5.5vh;
    height: 5.5vh;
}

.toggle-icon-sub:hover{
 background-color: #1f1848;
 cursor: pointer;
 color: #008892;
}

.username-container{
    position: absolute;
    right: 15vw;
    top: 2vh;
    font-size: 2.2vh;
    font-weight: 600;
    color: white;
}