
  a{
  text-decoration: none;
  }
  
  .Searchbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .searchbox-container{
    /* background: rgb(250, 250, 250); */
    background: linear-gradient(0deg, rgb(142, 152, 167) 0%, rgb(178, 205, 228) 64%, rgb(172, 202, 241) 100%);
    border-radius: 5px ;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, rgba(0, 0, 0, 0.11) 0px 10px 10px;
}
  
  .searchbox-btn{
  border-radius:5%;
  color: #627984;
  float: right;
  width: 40px;
  height: 30px;
  padding: 5PX;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  ::placeholder{
  color: rgb(122, 130, 139);
  font-size: 1.3vh;
  
  }


  .search-input-container{
    border: transparent;
    background: transparent;
    /* border: 2px solid firebrick; */
    width: 100%;
    height: 100%;
    color: rgb(34, 34, 75);
    padding-left: 20px;
    font-size: 1.5vh;
  }
  .search-input-container:focus{
    background: none;
    outline: none;
  }

  .search-withcart-container{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .cart-icon{
    color: #00DBE9;
    margin-left: 1vw;
  }