@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');
* {
    font-family: 'IBM Plex Sans Thai';
}
body {
    font-family: 'IBM Plex Sans Thai';
    font-style: normal;
    font-weight: 400;
}
.h1 .p .button{
    font-family: 'IBM Plex Sans Thai';
    font-style: normal;
    font-weight: 400;
}
hr{
    color: white;
}
text {
    font-family: 'IBM Plex Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 11px;
    pointer-events: none;
}
#chart {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
}
#question {
    height: 525px;
}
#question h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'IBM Plex Sans Thai';
    font-style: normal;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 40%;
    top: 46%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
#question p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'IBM Plex Sans Thai';
    font-style: normal;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 40%;
    top: 46%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.spinner {
    width:1500px;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    z-index: 10;
    border-radius:20px;
    background-color:rgba(196, 196, 196, 0.75);
}
.bttn{
    top:10px;
    left:0px;
    border-radius: 30px;
    width: 150px;
    height: 45px;
}
.container {
    
    width:80%;
}